#about-page {
	background: url(../../resources/images/bg.jpg);
	width: 100%;
	height: 450px !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.modal-header {
	border-bottom-color: white;
}

.modal-content {
	height: auto !important;
	padding: 40px 82px;
}

.modal-footer {
	border-top-color: white;
	margin: 0px 14px 0px 0px;
	border: none;
}
/* .alert-danger {
    display: none;
	position: absolute;
    width: 100%;
    margin: -26px -32px 0px -82px;
    border: 0px solid #F97661 !important;
	background-color: #F97661!important;
} */
.forgotLink {
	float: right;
	color: #337ab7 !important;
}
/* ----------- media queries ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width:
	480px) {
	.modal-content {<!--
		height: 790px; -->
		height: auto !important;
		padding: 26px 0px;
	}
	.forgotLink {
		float: left;
	}
	.signInBtn {
		height: 38px;
		padding: 0px;
	}
	.box-container {
		margin-top: -10px;
	}
	.sign-content {
		height: 1000px !important;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width:
	1024px) {
	.signInBtn {
		width: 85%;
	}
	.sign-content {
		height: 1030px !important;
	}
	.modal-content {<!--
		height: 861px; -->
		height: auto !important;
	}
	.modal-footer .col-md-6 {
		margin-top: 2%;
	}
}

@media only screen and (min-device-width: 1024px) and (max-device-width:
	1366px) {
	.signInBtn {
		width: 92%;
	}
	.sign-content {
		height: 1000px !important;
	}
	.modal-content {
		height: 750px;
	}
}

@media only screen and (min-device-width: 412px) and (max-device-width:
	732px) and (-webkit-min-device-pixel-ratio: 2) {
	.sign-content {
		height: 1000px !important;
	}
	.alert-danger, .alert-success {
		bottom: 6px;
		margin: 0px !important;
		position: relative;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	568px) and (-webkit-min-device-pixel-ratio: 2) {
	.modal-content {
		height: 824px;
		padding: 26px 0px;
	}
	.modal-content .col-google {
		margin-top: 3%;
	}
	.forgotLogin {
		float: left !important;
	}
	.signInBtn {
		width: 82%;
	}
	.box-container {
		margin-top: -11px;
	}
	.modal-footer {
		margin: auto !important; <!--
		width: 90%;
		-->
	}
	.sign-content {
		height: 1000px !important;
	}
	.alert-danger, .alert-success {
		bottom: 6px;
		margin: 0px !important;
		position: relative;
	}
}

@media only screen and (min-device-width: 360px) and (max-device-width:
	640px) and (-webkit-min-device-pixel-ratio: 2) {
	.modal-footer {
		margin: auto !important;
	}
	.sign-content {
		height: 1000px !important;
		width: 90%;
	}
	.alert-danger, .alert-success {
		bottom: 6px;
		margin: 0px !important;
		position: relative;
	}
}

#footer {
	margin-top: 18%;
	margin-left: -39%;
	margin-right: auto;
	color: white;
}

#index-page {
	background: url(../../resources/images/bg.jpg);
	height: 450px !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.box-container {
	height: 735px;
	margin-top: -30px;
}

.footer-text {
	color: white !important;
}

.sign-content {
	height: 880px;
}

.wrapper {
	height: auto;
	overflow: unset !important;
}

.main-header {
	padding: 36px 62px 20px 62px;
}

.selectBox {
	border: none;
	color: white;
	background-color: #534E4E;
}

.form-group {
	padding-left: 0px !important;
}

.resetBtn {
	color: #ffffff;
	font-weight: bold;
	font-family: arial;
	font-size: 24px;
	height: 66px;
	border-radius: 32px;
	background-color: #45BD6D;
	border: 1px solid #45BD6D;
	outline: none !important;
}

.resetBtn:link {
	background-color: #45BD6D !important;
}

/* visited link */
.resetBtn:visited {
	background-color: #45BD6D !important;
}

/* mouse over link */
.resetBtn:hover {
	background-color: #45BD6D !important;
}

/* selected link */
.resetBtn:active {
	background-color: #45BD6D !important;
}

.backtoLoginBtn {
	font-size: 22px;
	width: 100% !important;
	margin: auto;
	color: #0071BC;
	font-family: arial;
	font-style: normal;
	text-align: center !important;
	outline: none;
	margin-top: 15px;
}

td {
	padding: 10px !important;
}

#resetting {
	padding: 0px !important;
}

.alert-danger {
	margin: -40px -32px 0px -82px;
}
